<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Meta Keyword -->
    <meta name="keywords" content="one page, business template, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
    <!-- meta character set -->
    <meta charset="utf-8">

    <!-- Site Title -->


    <title>IPS</title>
 <link rel="shortcut icon" href="/images/City-Police-Badge-icon.png" />
    <!--
        Google Fonts
        ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="home/css/font-awesome.min.css">
    <link rel="stylesheet" href="home/css/bootstrap.min.css">
    <link rel="stylesheet" href="home/css/jquery.fancybox.css">
    <link rel="stylesheet" href="home/css/owl.carousel.css">
    <link rel="stylesheet" href="home/css/animate.css">
    <link rel="stylesheet" href="home/css/main.css">
    <link rel="stylesheet" href="home/css/responsive.css">


    <!-- Modernizer Script for old Browsers -->
    <script src="home/js/vendor/modernizr-2.6.2.min.js"></script>

</head>

<body>

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <!-- /responsive nav button -->
                <h1 class="navbar-brand">
                    <a href="#body">
                        <img src="home/img/logo.png" alt="Kasper Logo">
                    </a>
                </h1>
            </div>

            <!-- main nav -->
            <nav class="collapse navigation navbar-collapse navbar-right" role="navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li class="current"><a href="#home">Home</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#portfolio">Gallery</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="/admin">Dashboard</a></li>
                </ul>
            </nav>
            <!-- /main nav -->
        </div>

        </div>
    </header>
    <!--
        End Fixed Navigation
        ==================================== -->


    <!--
        Home Slider
        ==================================== -->
    <section id="home">
        <div id="home-carousel" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#home-carousel" data-slide-to="1"></li>
                <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>
            <!--/.carousel-indicators-->

            <div class="carousel-inner">

                <div class="item active" style="background-image: url('home/img/slider/bg2.jpg')">
                    <div class="carousel-caption">
                        <div class="animated bounceInRight">
                            <h2>I P S <br>the intelligent police system</h2>
                            <p>This feature is made available to public for interaction with police indirectly. This system registers the complaints from people through online and is helpful to the police department in identifying criminals. In this system any person can register their complaint online .
                              .</p>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url('home/img/slider/bg2.jpg')">
                    <div class="carousel-caption">
                        <div class="animated bounceInDown">
                            <h2>I P S <br>the intelligent police system</h2>
                            <p>This feature is made available to public for interaction with police indirectly. This system registers the complaints from people through online and is helpful to the police department in identifying criminals. In this system any person can register their complaint online .
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item" style="background-image: url('home/img/slider/bg3.jpg')">
                    <div class="carousel-caption">
                        <div class="animated bounceInUp">
                            <h2>I P S <br>the intelligent police system</h2>
                            <p>This feature is made available to public for interaction with police indirectly. This system registers the complaints from people through online and is helpful to the police department in identifying criminals. In this system any person can register their complaint online .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.carousel-inner-->
            <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a class="sl-next" href="#home-carousel" data-slide="next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>

        </div>
    </section>
    <!--
        End #home Slider
        ========================== -->


    <!--
        #service
        ========================== -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown">
                        <h2>Services</h2>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-sm-12 wow fadeInLeft">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="home/img/icons/monitor.png" class="media-object" alt="Monitor">
                        </a>
                        <div class="media-body">
                            <h3>Crime Reporting</h3>
                            <p>Here the user(s) can report theft,missing,accident,public property damaging cases.</p>
                        </div>
                    </div>

                </div>

                <div style="width:585;height:159;" class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="home/img/icons/cog.png" alt="Cog">
                        </a>
                        <div class="media-body">
                            <h3>women protection</h3>
                            <p>Here we are providing a "i'm in trouble button" as a part of protection module for women society </p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-sm-12 wow fadeInLeft">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="home/img/icons/ruler.png" alt="Ruler">
                        </a>
                        <div class="media-body">
                            <h3>Crime feeds</h3>
                            <p>It shows 24/7 crime feeds uploaded by our users who are using intelligent policing system.These feeds will help other user(s) to get familiar with our app.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="home/img/icons/camera.png" alt="Camera">
                        </a>
                        <div class="media-body">
                            <h3>Tracking vehicles</h3>
                            <p>In this module the police admin can have a look on the patrolling vehicles of our police department and can thereby assign cases happening in their nearby vicinity.</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--
        End #service
        ========================== -->

    <!--
        #service-bottom
        ========================== -->

    <section id="service-bottom">
        <div class="container">
            <div class="mobile-device">
                <img data-wow-delay="0.2s" class="img-responsive black  wow fadeInLeftBig" src="home/img/icons/iphone-black.png" alt="iPhone Black">
                <img data-wow-delay="0.5s" class="img-responsive white  wow fadeInLeftBig" src="home/img/icons/iphone-white.png" alt="iPhone White">
            </div>
            <div class="service-features wow fadeInRight">
                <h3>OUR APP COMES WITH...</h3>
                <ul>
                    <li>Fast response to cases</li>
                    <li>24/7 women helpline service </li>
                    <li>summons notification</li>
                    <li>User Friendly design</li>
                </ul>
            </div>
        </div>
    </section>
    <!--
        End #service-bottom
        ========================== -->


    <!--
        #Portfolio
        ========================== -->

    <section id="portfolio">

        <div class="section-title text-center wow fadeInDown">
            <h2>Gallery</h2>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
        </div>

        <nav class="project-filter clearfix text-center wow fadeInLeft" data-wow-delay="0.5s">
            <ul class="list-inline">
                <li><a href="javascript:;" class="filter" data-filter="all">All</a></li>
                <li><a href="javascript:;" class="filter" data-filter=".app">App</a></li>
                <li><a href="javascript:;" class="filter" data-filter=".photography">Photography</a></li>
                <li><a href="javascript:;" class="filter" data-filter=".web">Web</a></li>
                <li><a href="javascript:;" class="filter" data-filter=".print">Print</a></li>
            </ul>
        </nav>

        <div id="projects" class="clearfix">

            <figure class="mix portfolio-item app">
                <img class="img-responsive" src="home/img/portfolio/portfolio-1.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-1.jpg" title="Title One" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS </h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item photography">
                <img class="img-responsive" src="home/img/portfolio/portfolio-2.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-2.jpg" title="Title Two" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item web">
                <img class="img-responsive" src="home/img/portfolio/portfolio-3.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-3.jpg" title="Title Three" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item print">
                <img class="img-responsive" src="home/img/portfolio/portfolio-4.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-4.jpg" title="Title Four" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item app">
                <img class="img-responsive" src="home/img/portfolio/portfolio-4.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-4.jpg" title="Title Five" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item photography">
                <img class="img-responsive" src="home/img/portfolio/portfolio-1.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-1.jpg" title="Title Six" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item web app">
                <img class="img-responsive" src="home/img/portfolio/portfolio-2.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-2.jpg" title="Title Seven" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

            <figure class="mix portfolio-item print web">
                <img class="img-responsive" src="home/img/portfolio/portfolio-3.jpg" alt="Portfolio Item">
                <a href="home/img/portfolio/portfolio-3.jpg" title="Title Eight" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                <figcaption class="mask">
                    <h3>IPS</h3>
                    <span>Photography</span>
                </figcaption>
            </figure>

        </div>
        <!-- end #projects -->

    </section>
    <!--
        End #Portfolio
        ========================== -->

    <!--
        #about
        ========================== -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="section-title text-center wow fadeInUp">
                    <h2>About Us</h2>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>

                <div class="about-us text-center wow fadeInDown">
                    <img src="home/img/about.png" alt="About Us" class="img-responsive">
                </div>
            </div>
        </div>
    </section>
    <!--
        End #about
        ========================== -->


    <!--
        #count
        ========================== -->

    <section id="count">
        <div class="container">
            <div class="row">
                <div class="counter-section clearfix">

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="fact-item text-center">
                            <div class="fact-icon">
                                <i class="fa fa-check-square fa-lg"></i>
                            </div>
                            <span data-to="120">0</span>
                            <p>Completed Projects</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="fact-item text-center">
                            <div class="fact-icon">
                                <i class="fa fa-users fa-lg"></i>
                            </div>
                            <span data-to="152">0</span>
                            <p>Satisfied Clients</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="1.1s">
                        <div class="fact-item text-center last">
                            <div class="fact-icon">
                                <i class="fa fa-clock-o fa-lg"></i>
                            </div>
                            <span data-to="2500">0</span>
                            <p>Working Hours</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="1.3s">
                        <div class="fact-item text-center last">
                            <div class="fact-icon">
                                <i class="fa fa-trophy fa-lg"></i>
                            </div>
                            <span data-to="150">0</span>
                            <p>Award Won</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--
        End #count
        ========================== -->

    <!--
        #about-us
        ========================== -->
    <section id="about-us">
        <div class="container">
            <div class="row">

                <div class="col-md-5 col-md-offset-1 wow fadeInLeft">

                    <div class="subtitle text-center">
                        <h3>Members</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                    </div>

                    <div id="testimonial">

                        <div class="tst-item clearfix">
                            <div class="tst-single clearfix">
                                <img src="home/img/client/1.jpg" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>Akash,Captain</span>
                                </div>
                            </div>

                            <div class="tst-single clearfix">
                                <img src="home/img/client/2.jpg" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>Nijinsha,Programmer</span>
                                </div>
                            </div>
                        </div>

                        <div class="tst-item">
                            <div class="tst-single clearfix">
                                <img src="home/img/client/3.jpg" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>Prakhil,Programmer</span>
                                </div>
                            </div>
                            <div class="tst-single clearfix">
                                <img src="home/img/client/4.jpg" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>Ajay,EEE</span>
                                </div>
                            </div>
                        </div>

                        <div class="tst-item">
                            <div class="tst-single clearfix">
                                <img src="home/img/client/5.jpg" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>Anusha,CE</span>
                                </div>
                            </div>
                            <div class="tst-single clearfix">
                                <img src="home/img/client/4.jpg" alt="Client" class="img-circle">
                                <div class="tst-content">
                                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                                    <span>Ajay,EEE</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end #testimonial -->
                </div>
                <!-- end .col-md-5 -->

                <div class="col-md-5 col-md-offset-1 wow fadeInRight">

                    <div class="subtitle text-center">
                        <h3>Progress</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                    </div>

                    <div class="progress-bars">

                        <span>Accident - <small>65%</small></span>
                        <div class="progress" data-progress="65">
                            <div class="bar"></div>
                        </div>
                        <span>Rape - <small>13%</small></span>
                        <div class="progress" data-progress="13">
                            <div class="bar"></div>
                        </div>
                        <span>Smuggling- <small>55%</small></span>
                        <div class="progress" data-progress="55">
                            <div class="bar"></div>
                        </div>
                        <span>Theft - <small>47%</small></span>
                        <div class="progress kill-margin" data-progress="47">
                            <div class="bar"></div>
                        </div>

                    </div>
                    <!-- progress-bars -->

                </div>
                <!-- end .col-md-5 -->

            </div>
        </div>
    </section>
    <!--
        End #about-us
        ========================== -->

    <!--
        #quotes
        ========================== -->
    <section id="quotes">
        <div class="container">
            <div class="row wow zoomIn">
                <div class="col-lg-12">
                    <div class="call-to-action text-center">
                        <p>“Criminals should be punished, not fed pastries”</p>
                        <span>John Doe</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
        End #quotes
        ========================== -->

    <!--

        End #pricing
        ========================== -->


    <!--
        #subscribe
        ========================== -->
    <section id="subscribe">
        <div class="container">
            <div class="row">

                <div class="col-md-7 wow fadeInLeft">
                    <form action="#" method="post" class="subscription-form">
                        <i class="fa fa-envelope-o fa-lg"></i>
                        <input type="email" name="subscribe" class="subscribe" placeholder="YOUR MAIL" required="">
                        <input type="submit" value="SUBSCRIBE" id="mail-submit">
                    </form>
                </div>

                <div class="col-md-4 text-left wow fadeInRight">
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blan dit aliquet elit, eget tincidunt.</p>
                </div>
            </div>
        </div>
    </section>
    <!--
        End #subscribe
        ========================== -->


    <!--
        #contact
        ========================== -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="section-title text-center wow fadeInDown">
                    <h2>Contact Us</h2>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>

                <div class="col-md-8 col-sm-9 wow fadeInLeft">
                    <div class="contact-form clearfix">
                        <form action="index.html" method="post">
                            <div class="input-field">
                                <input type="text" class="form-control" name="name" placeholder="Your Name" required="">
                            </div>
                            <div class="input-field">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                            </div>
                            <div class="input-field message">
                                <textarea name="message" class="form-control" placeholder="Your Message" required=""></textarea>
                            </div>
                            <input type="submit" class="btn btn-blue pull-right" value="SEND MESSAGE" id="msg-submit">
                        </form>
                    </div>
                    <!-- end .contact-form -->
                </div>
                <!-- .col-md-8 -->

                <div class="col-md-4 col-sm-3 wow fadeInRight">
                    <div class="contact-details">
                        <span>GET IN TOUCH</span>
                        <p><br> <br> </p>
                    </div>
                    <!-- end .contact-details -->

                    <div class="contact-details">
                        <span>GET IN TOUCH</span>
                        <p><br> <br> </p>
                    </div>
                    <!-- end .contact-details -->
                </div>
                <!-- .col-md-4 -->

            </div>
        </div>
    </section>
    <!--
        End #contact
        ========================== -->

    <!--
        #footer
        ========================== -->
    <footer id="footer" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="footer-logo wow fadeInDown">
                        <img src="home/img/logo.png" alt="logo">
                    </div>

                    <div class="footer-social wow fadeInUp">
                        <h3>We are social</h3>
                        <ul class="text-center list-inline">
                            <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                        </ul>
                    </div>

                    <div class="copyright">

                        <p> Developed by <a target="_blank" href="#">SNGIST-VEGA</a> 16</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--
        End #footer
        ========================== -->


    <!--
        JavaScripts
        ========================== -->

    <!-- main jQuery -->
    <script src="home/js/vendor/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap -->
    <script src="home/js/bootstrap.min.js"></script>
    <!-- jquery.nav -->
    <script src="home/js/jquery.nav.js"></script>
    <!-- Portfolio Filtering -->
    <script src="home/js/jquery.mixitup.min.js"></script>
    <!-- Fancybox -->
    <script src="home/js/jquery.fancybox.pack.js"></script>
    <!-- Parallax sections -->
    <script src="home/js/jquery.parallax-1.1.3.js"></script>
    <!-- jQuery Appear -->
    <script src="home/js/jquery.appear.js"></script>
    <!-- countTo -->
    <script src="home/js/jquery-countTo.js"></script>
    <!-- owl carousel -->
    <script src="home/js/owl.carousel.min.js"></script>
    <!-- WOW script -->
    <script src="home/js/wow.min.js"></script>
    <!-- theme custom scripts -->
    <script src="home/js/main.js"></script>
</body>

</html>
